:root {
    --custom-aboutMe-color-gray: #f4f4f5;
    --custom-aboutMe-color-black : #000;
}

.main-section-aboutMe {
    position: relative;
    top: 130px;
    margin-bottom: 120px;
    display: flex;
    flex-direction: column;
    height: 510px;
    background-color: var(--custom-aboutMe-color-gray);
}

.main-section-aboutMe__titulo {
    padding-top: 2.5%;
    display: flex;
    justify-content: start;
    padding-left: 10%;
    align-items: baseline;
    gap: 10px;
}

.main-section-aboutMe__titulo_h1 {
    text-align: center;
    color: var(--custom-aboutMe-color-black);
}

.main-section-aboutMe-container__article{
    padding-top: 2.5%;
    display: flex;
    justify-content: center;
    padding-left: 10%;
    align-items: center;
}

.main-section-aboutMe-container__article__img {
    width: 250px;
    border-radius: 900px;
    border: 2px solid var(--custom-aboutMe-color-black);
}

.main-section-aboutMe-container__article__container_presentacion {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 700px;
}

.main-section-aboutMe-container__article__container_presentacion__h4 {
    margin-top: 40px;
    line-height: 5px;
}

.main-section-aboutMe-container__article__container__presentacion__parrafo {
    font-size: small;
    text-align: left; 
    text-wrap: balance;
}

.main-section-aboutMe-container {
    display: flex;
    gap: 100px;
    padding-left: 5%;
}

/* Orientación Portrait (Vertical) */
@media screen and (orientation: portrait) and (max-width: 320px) {
    .main-section-aboutMe {
        top: 930px;
        min-height: 1000px;
        height: max-content;
        max-height: max-content;
    }

    .main-section-aboutMe__titulo {
        justify-content: center;
        padding-left: 0;
    }

    .main-section-aboutMe-container {
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .main-section-aboutMe-container > article {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main-section-aboutMe-container__article {
        padding: 0;
        padding-top: 5%;
    }

    .main-section-aboutMe-container__article__img {
        align-content: start;
        padding: 0;
    }

    .main-section-aboutMe-container__article__container_presentacion {
        width: fit-content;
        padding: 5%;
    }

    .main-section-aboutMe-container__article__container__presentacion_h4 {
        text-align: center;
    }

    .main-section-aboutMe-container__article__container__presentacion__parrafo {
        text-align: center;
    }
}

@media screen and (orientation: portrait) and (min-width: 330px) and (max-width: 360px) {
    .main-section-aboutMe {
        top: 900px;
        min-height: 1050px;
        height: max-content;
        max-height: max-content;
    }

    .main-section-aboutMe__titulo {
        justify-content: center;
        padding-left: 0;
    }

    .main-section-aboutMe-container {
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .main-section-aboutMe-container > article {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main-section-aboutMe-container__article {
        padding: 0;
        padding-top: 5%;
    }

    .main-section-aboutMe-container__article__img {
        align-content: start;
        padding: 0;
    }

    .main-section-aboutMe-container__article__container_presentacion {
        width: 340px;
        padding: 10%;
    }

    .main-section-aboutMe-container__article__container__presentacion_h4 {
        text-align: center;
    }

    .main-section-aboutMe-container__article__container__presentacion__parrafo {
        text-align: center;
    }
}

@media screen and (orientation: portrait) and (min-width: 361px) {
    .main-section-aboutMe {
        top: 900px;
        height: min-content;
        max-height: max-content;
    }

    .main-section-aboutMe__titulo {
        justify-content: center;
        padding-left: 0;
    }

    .main-section-aboutMe-container {
        display: flex;
        flex-direction: column;
        gap: 0;
        padding: 0;
        justify-content: center;
    }

    .main-section-aboutMe-container > article {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main-section-aboutMe-container__article {
        padding: 0;
        padding-top: 5%;
    }

    .main-section-aboutMe-container__article__img {
        align-content: start;
        padding: 0;
    }

    .main-section-aboutMe-container__article__container_presentacion {
        width: 350px;
        position: relative;
        left: 0;
        right: 0;
        /* padding: 10%; */
        justify-content: center;
    }

    .main-section-aboutMe-container__article__container__presentacion_h4 {
        text-align: center;
    }

    .main-section-aboutMe-container__article__container__presentacion__parrafo {
        text-align: center;
    }
}

/* Orientación Landscape (Horizontal) */
@media screen and (orientation: landscape) and (max-width: 480px) {
    .main-section-aboutMe {
        top: 880px;
        min-height: 900px;
        height: max-content;
    }

    .main-section-aboutMe-container__article__container_presentacion {
        padding: 5%;
    }
}

@media screen and (orientation: landscape) and (max-width: 870px) {    
    .main-section-aboutMe {
        min-height: 700px;
    }

    .main-section-aboutMe__titulo {
        justify-content: center;
        padding-left: 0;
    }

    .main-section-aboutMe-container {
        flex-direction: column;
        padding-left: 0;
        gap: 0;
    }

    .main-section-aboutMe-container > article {
        display: flex;
        justify-content: center;
    }

    .main-section-aboutMe-container__article {
        padding-left: 0;
    }

    .main-section-aboutMe-container__article__container_presentacion,
    .main-section-aboutMe-container__article__container__presentacion__parrafo {
        text-align: center;
    }
}

@media screen and (orientation: landscape) and (min-width: 871px) and (max-width: 920px) {
    .main-section-aboutMe {
        min-height: 700px;
    }

    .main-section-aboutMe__titulo {
        justify-content: center;
        padding-left: 0;
    }

    .main-section-aboutMe-container {
        flex-direction: column;
        padding-left: 0;
        gap: 0;
    }

    .main-section-aboutMe-container > article {
        display: flex;
        justify-content: center;
    }

    .main-section-aboutMe-container__article {
        padding-left: 0;
    }

    .main-section-aboutMe-container__article__container_presentacion,
    .main-section-aboutMe-container__article__container__presentacion__parrafo {
        text-align: center;
    }
}
