:root {
    --custom-aboutMe-color-gray: #f4f4f5;
    --custom-aboutMe-color-black : #000;
}

.main-section-aboutMe {
    position: relative;
    top: 130px;
    margin-bottom: 120px;
    display: flex;
    flex-direction: column;
    height: 510px;
    background-color: var(--custom-aboutMe-color-gray);
}

.main-section-aboutMe-container__article{
    padding-top: 2.5%;
    display: flex;
    justify-content: center;
    padding-left: 10%;
    align-items: center;
}

.main-section-aboutMe-container__article__img {
    width: 250px;
    border-radius: 900px;
    border: 2px solid var(--custom-aboutMe-color-black)
}

.main-section-aboutMe-container__article__container_presentacion {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 700px;
}

.main-section-aboutMe-container__article__container_presentacion__h4 {
    margin-top: 40px;
    line-height: 5px;
}

.main-section-aboutMe-container__article__container__presentacion__parrafo {
    font-size: small;
    text-align: left; 
    text-wrap: balance;
}

.main-section-aboutMe__titulo {
    padding-top: 2.5%;
    display: flex;
    justify-content: start;
    padding-left: 10%;
    align-items: baseline;
    gap: 10px;
}

.main-section-aboutMe-container {
    display: flex;
    gap: 100px;
    padding-left: 5%;
}

@media screen and (max-width: 960px) {
    .main-section-aboutMe {
        top: 250px;
        padding-top: 5%;
        width: 100%;
        height: 450px;
    }

    .main-section-aboutMe-container {
        padding-left: 0;
    }

    .main-section-aboutMe-container__article__container_presentacion {
        width: 610px;
    }
}