.header-contact {
    height: 100vh;
    height: 100dvh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.section-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.article-contact {
    display: flex;
    align-items: center;
    gap: 100px;
    width: 100%;
    justify-content: center;
}

.svg-contact {
    width: 350px;
}

.vertical-line {
    border-right: 1px solid var(--shadow-dark-mode-color);
    height: 400px;
}

.container-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    width: 25%;
    padding: 1%;
    box-shadow: 0px 0px 20px 0px var(--shadow-dark-mode-color) ;
}

.container-form > h2 {
    text-align: center;
}

.forms-input {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 100%;
    margin-top: 5%;
}

.form-submit {
    width: 35%;
    height: 40px;
}

/* Notificación */
.container-notification {
    margin-top: 1%;
    width: 100%;
    height: auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.container-notification > h4,
.container-notification > h5 {
    font-size: medium;
    margin: 1%;
    text-align: center;
}

.success {
    font-weight: 400;
    color: var(--primary-color-success-notification);
    background-color: var(--background-success-notification);
    border: 1px solid var(--border-color-success-notification);
}

.warning {
    font-weight: 400;
    color: var(--primary-color-warning-notification);
    background-color: var(--background-warning-notification);
    border: 1px solid var(--border-color-warning-notification);
}

.scale-up-center {
    animation: scale-up-center 0.4s; 
}

.scale-down-center {
    animation: scale-down-center 0.4s forwards; 
}

@keyframes scale-up-center { 
    0% {
        transform:scale(.5)
    } 
    100% {
        transform:scale(1)
    } 
}

@keyframes scale-down-center { 
    0% {
        transform:scale(1);
        opacity: 1;
    } 
    100% {
        transform:scale(.5);
        opacity: 0;
    } 
}

@media screen and (max-width: 1300px) {
    .section-contact {
        height: 80%;
        justify-content: space-evenly;
    }

    .article-contact {
        gap: 50px;
    }

    .svg-contact {
        width: 300px;
    }

    .container-form {
        width: 50%;
    }
}

@media screen and (max-width: 950px) {
    .section-contact {
        height: 80%;
        justify-content: space-evenly;
    }

    .article-contact {
        gap: 30px;
    }

    .svg-contact {
        width: 175px;
    }

    .container-form {
        width: 55%;
    }

    .form-submit {
        margin-bottom: 5%;
    }
}

@media screen and (max-width: 700px) {
    .section-contact {
        height: 80%;
        justify-content: space-evenly;
    }

    .svg-contact,
    .vertical-line {
        display: none;
    }

    .container-form {
        width: 80%;
    }

    .form-submit {
        margin-bottom: 5%;
    }
}

@media screen and (max-width: 450px) {
    .container-form {
        width: 100%;
    }

    .form-submit {
        margin-bottom: 5%;
    }
}

@media screen and (max-width: 380px) {
    .container-notification {
        margin: 4%;
        padding: 2%;
        line-height: 25px;
    }

    .container-notification > h4,
    .container-notification > h5 {
        margin-top: 3%;
        font-size: 13.5px;
    }

    .container-notification {
        width: 95%;
    }
}

@media screen and (max-width: 320px) {
    .header-contact {
        height: 100%;
    }

    .article-contact {
        margin-bottom: 2%;
    }

    .container-notification {
        width: 95%;
    }
}

@media screen and (max-width: 375px) {
    input[type=text],
    textarea {
        min-width: 200px !important;
        width: 230px !important;
    }

    .form-submit {
        margin-bottom: 5%;
    }

    .container-form > h2 {
        line-height: 30px !important;
    }
}

@media screen and (orientation: landscape) and (max-width: 932px) {
    .header-contact {
        height: 100%;
    }

    .article-contact {
        width: 100%;
    }

    .vertical-line,
    .svg-contact {
        display: none;
    }

    .container-form {
        width: 95%;
        margin-bottom: 1%;
    }

    .forms-input {
        margin-top: 0;
        gap: 10px;
    }

    .container-form > h2 {
        line-height: 0px !important;
    }

    input[type=text],
    textarea {
        min-width: 400px !important;
        width: 450px !important;
    }
}

@media screen and (orientation: landscape) and (max-width: 700px) {
    .header-contact {
        height: 100%;
    }
}

@media screen and (orientation: landscape) and (max-width: 600px) {
    .header-contact {
        height: 100%;
    }

    input[type=text],
    textarea {
        min-width: 300px !important;
        width: 350px !important;
    }
}

@media screen and (orientation: landscape) and (max-width: 500px) {
    .header-contact {
        height: 100%;
    }

    .container-form > h2 {
        line-height: 25px !important;
    }

    input[type=text],
    textarea {
        min-width: 300px !important;
        width: 325px !important;
    }
}