:root {
    --custom-exp-color-black: #000;
    --custom-exp-color-white: #fff;
    --custom-exp-color-gray: #f4f4f5;
}

.main-section-exp {
    display: flex;
    position: relative;
    flex-direction: column;
    top: 20px;
    padding-top: 5%;
    padding-bottom: 2%;
    background-color: var(--custom-exp-color-gray);
    height: 520px;
    max-height: 550px;
    width: 100%;
}

.main-section-exp__titulo {
    display: flex;
    justify-content: start;
    margin-left: 10%;
    align-items: baseline;
}

.main-section-exp__titulo__h1 {
    text-align: center;
    color: var(--custom-exp-color-black);
}

.main-section-exp__experiencia {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    max-height: 344px;
}

.main-section-exp__article {
    display: flex;
    padding-top: 3%;
    max-width: 100%;
}

.main-section-exp__experiencia__article__icon {
    background-color: var(--custom-exp-color-gray);
    position: relative;
    top: -25px;
    left: 45%;
    border: 1px solid var(--custom-exp-color-black);
    width: 50px;
    min-width: 50px;
    height: 50px;
    min-height: 50px;
    border-radius: 100px;
}

.main-section-exp__experiencia__article__icon__svg {
    position: relative;
    top: 10px;
    left: 10px;
    width: 30px;
}

.main-section-exp__experiencia__article__informacion {
    height: 250px;
    border-radius: 15px;
    border: 1px solid var(--custom-exp-color-black);
    padding: 15px;
    text-align: center;
    width: 600px;
}

.main-section-exp__experiencia__article__informacion__puesto-Trabajo {
    margin-top: 40px;
    line-height: 1px;
}

.main-section-exp__experiencia__article__informacion__parrafo {
    font-size: small; 
    text-align: left;
}

@media screen and (min-width: 1280px) and (max-width: 1720px) {
    .main-section-exp {
        margin-top: 2%;
        width: 100%;
    }

    .main-section-exp__experiencia {
        gap: 0;
        padding-right: 4%;
    }

    .main-section-exp__experiencia__article__icon {
        left: 320px;
    }

    .main-section-exp__article {
        width: 70%;
        justify-content: center;
    }
}

@media screen and (min-width: 1728px) {
    .main-section-exp__experiencia__article__icon {
        left: 330px;
    }
}

/* Orientación Portrait (Vertical) */
@media screen and (orientation: portrait) and (max-width: 320px) {
    .main-section-exp {
        margin-top: 70% !important;
        min-height: 1250px !important;
        max-height: max-content;
    }
    
    .main-section-exp__article {
        width: 90%;
        justify-content: center;
        position: relative;
        top: 125px;
    }

    .main-section-exp__titulo {
        justify-content: center;
        margin-left: 0;
    }

    .main-section-exp__experiencia {
        flex-direction: column;
        margin-top: 90%;
        gap: 50px;
    }

    .main-section-exp__article {
        width: 90%;
        justify-content: center;
    }

    .main-section-exp__experiencia__article__icon {
        left: 50%;
    }

    .main-section-exp__experiencia__article__informacion {
        height: max-content;
    }

    .main-section-exp__experiencia__article__informacion__puesto-Trabajo {
        line-height: 20px;
    }

    .main-section-exp__experiencia__article__informacion__puesto-Trabajo > h4 {
        margin-top: 15%;
    }

    .main-section-exp__experiencia__article__informacion__parrafo {
        text-align: center;
    }
}

@media screen and (orientation: portrait) and (min-width: 330px) and (max-width: 360px) {
    .main-section-exp {
        margin-top: 60%;
        min-height: 1100px;
        max-height: max-content;
    }

    .main-section-exp__titulo {
        justify-content: center;
        margin-left: 0;
    }

    .main-section-exp__experiencia {
        flex-direction: column;
        margin-top: 90%;
        gap: 50px;
    }

    .main-section-exp__experiencia__article__icon {
        left: 49%;
    }

    .main-section-exp__article {
        width: 90%;
        justify-content: center;
    }

    .main-section-exp__experiencia__article__informacion {
        height: max-content;
    }

    .main-section-exp__experiencia__article__informacion__puesto-Trabajo {
        line-height: 20px;
    }

    .main-section-exp__experiencia__article__informacion__puesto-Trabajo > h4 {
        margin-top: 15%;
    }

    .main-section-exp__experiencia__article__informacion__parrafo {
        text-align: center;
    }
}

@media screen and (orientation: portrait) and (min-width: 361px) and (max-width: 479px) {
    .main-section-exp {
        margin-top: 60%;
        min-height: 1100px;
        max-height: max-content;
    }

    .main-section-exp__titulo {
        justify-content: center;
        margin-left: 0;
    }

    .main-section-exp__experiencia {
        flex-direction: column;
        margin-top: 80%;
        gap: 50px;
    }

    .main-section-exp__article {
        width: 90%;
        justify-content: center;
    }

    .main-section-exp__experiencia__article__icon {
        left: 50%;
    }

    .main-section-exp__experiencia__article__informacion {
        height: max-content
    }

    .main-section-exp__experiencia__article__informacion__puesto-Trabajo {
        line-height: 20px;
    }

    .main-section-exp__experiencia__article__informacion__puesto-Trabajo > h4 {
        margin-top: 15%;
    }

    .main-section-exp__experiencia__article__informacion__parrafo {
        text-align: center;
    }
}

@media screen and (orientation: portrait) and (min-width: 768px) and (max-width: 819px) {
    .main-section-exp {
        margin-top: 10%;
        min-height: 780px;
        height: max-content;
    }

    .main-section-exp__titulo {
        justify-content: center;
        margin-left: 0;
    }

    .main-section-exp__experiencia {
        flex-direction: column;
        margin-top: 20%;
        gap: 50px;
        justify-content: center;
    }
    
    .main-section-exp__article {
        width: 90%;
        justify-content: center;
    }

    .main-section-exp__experiencia__article__icon {
        left: 52%;
    }

    .main-section-exp__experiencia__article__informacion {
        height: max-content;
        margin-left: 5%;
    }

    .main-section-exp__experiencia__article__informacion__puesto-Trabajo {
        line-height: 0;
    }

    .main-section-exp__experiencia__article__informacion__puesto-Trabajo > h4 {
        margin-top: 0;
    }

    .main-section-exp__experiencia__article__informacion__parrafo {
        text-align: center;
    }
}

/* Revisar */
@media screen and (orientation: portrait) and (min-width: 820px) and (max-width: 1023px) {
    .main-section-exp {
        margin-top: 10%;
        min-height: 780px;
        height: max-content;
    }

    .main-section-exp__titulo {
        justify-content: center;
        margin-left: 0;
    }

    .main-section-exp__experiencia {
        flex-direction: column;
        margin-top: 20%;
        gap: 50px;
        justify-content: center;
    }
    

    .main-section-exp__article {
        width: 100%;
        justify-content: center;
    }

    .main-section-exp__experiencia__article__icon {
        left: 40%;
    }

    .main-section-exp__experiencia__article__informacion {
        margin-right: 6%;
        height: max-content;
    }

    .main-section-exp__experiencia__article__informacion__puesto-Trabajo {
        line-height: 0;
    }

    .main-section-exp__experiencia__article__informacion__puesto-Trabajo > h4 {
        margin-top: 0;
    }

    .main-section-exp__experiencia__article__informacion__parrafo {
        text-align: center;
    }
}

@media screen and (orientation: portrait) and (min-width: 1024px) {
    .main-section-exp {
        margin-top: 10%;
        min-height: 780px;
        height: max-content;
    }

    .main-section-exp__titulo {
        justify-content: center;
        margin-left: 0;
    }

    .main-section-exp__experiencia {
        flex-direction: column;
        margin-top: 15%;
        gap: 50px;
        justify-content: center;
    }
    

    .main-section-exp__article {
        width: 100%;
        justify-content: center;
    }

    .main-section-exp__experiencia__article__icon {
        left: 32%;
    }

    .main-section-exp__experiencia__article__informacion {
        margin-right: 5%;
        height: max-content;
    }

    .main-section-exp__experiencia__article__informacion__puesto-Trabajo {
        line-height: 0;
    }

    .main-section-exp__experiencia__article__informacion__puesto-Trabajo > h4 {
        margin-top: 0;
    }

    .main-section-exp__experiencia__article__informacion__parrafo {
        text-align: center;
    }
}

/* Orientación Landscape (Horizontal) */
@media screen and (orientation: landscape) and (max-width: 568px) {
    .main-section-exp {
        margin-top: 30%;
        min-height: 750px;
        height: max-content;
        max-height: 1100px;
    }

    .main-section-exp__titulo {
        justify-content: center;
        margin-left: 0;
    }

    .main-section-exp__experiencia {
        flex-direction: column;
        gap: 50px;
        max-height: none;
        align-items: center;
    }

    .main-section-exp__article {
        width: max-content;
    }

    .main-section-exp__experiencia__article__informacion {
        height: max-content;
    }
    
    .main-section-exp__experiencia__article__informacion__puesto-Trabajo {
        text-wrap: balance;
    }

    .main-section-exp__experiencia__article__informacion__puesto-Trabajo > h5 {
        line-height: 20px;
    }

    .main-section-exp__experiencia__article__informacion__parrafo {
        text-align: center;
    }
}

@media screen and (orientation: landscape) and (max-width: 780px) {
    .main-section-exp {
        margin-top: 30%;
        min-height: 750px;
        height: max-content;
        max-height: 1100px;
    }

    .main-section-exp__titulo {
        justify-content: center;
        margin-left: 0;
    }

    .main-section-exp__experiencia {
        flex-direction: column;
        gap: 50px;
        max-height: none;
        align-items: center;
    }

    .main-section-exp__article {
        margin-left: 4%;
        width: max-content;
    }

    .main-section-exp__experiencia__article__informacion {
        height: max-content;
        margin-right: 10%;
    }
    
    .main-section-exp__experiencia__article__informacion__puesto-Trabajo {
        text-wrap: balance;
    }

    .main-section-exp__experiencia__article__informacion__puesto-Trabajo > h5 {
        line-height: 20px;
    }

    .main-section-exp__experiencia__article__informacion__parrafo {
        text-align: center;
    }
}

@media screen and (orientation: landscape) and (min-width: 800px) and (max-width: 935px) {
    .main-section-exp {
        margin-top: 0;
        min-height: 750px;
        height: max-content;
        max-height: 1100px;
    }

    .main-section-exp__titulo {
        justify-content: center;
        margin-left: 0;
    }

    .main-section-exp__experiencia {
        flex-direction: column;
        gap: 50px;
        max-height: none;
        align-items: center;
    }

    .main-section-exp__article {
        margin-left: 2.5%;
        width: max-content;
    }

    .main-section-exp__experiencia__article__informacion {
        height: max-content;
        margin-right: 10%;
    }
    
    .main-section-exp__experiencia__article__informacion__puesto-Trabajo {
        text-wrap: balance;
    }

    .main-section-exp__experiencia__article__informacion__puesto-Trabajo > h5 {
        line-height: 20px;
    }

    .main-section-exp__experiencia__article__informacion__parrafo {
        text-align: center;
    }
}

@media screen and (orientation: landscape) and (min-width: 1023px) and (max-width: 1180px) {
    .main-section-exp {
        margin-top: 0;
        min-height: 750px;
        height: max-content;
        max-height: 1100px;
    }

    .main-section-exp__titulo {
        justify-content: center;
        margin-left: 0;
    }

    .main-section-exp__experiencia {
        flex-direction: column;
        gap: 50px;
        max-height: none;
        align-items: center;
    }

    .main-section-exp__article {
        margin-left: 2.5%;
        width: max-content;
    }

    .main-section-exp__experiencia__article__informacion {
        height: max-content;
        margin-right: 10%;
    }
    
    .main-section-exp__experiencia__article__informacion__puesto-Trabajo {
        text-wrap: balance;
    }

    .main-section-exp__experiencia__article__informacion__puesto-Trabajo > h5 {
        line-height: 20px;
    }

    .main-section-exp__experiencia__article__informacion__parrafo {
        text-align: center;
    }
}