.header-experience {
    height: 100vh;
    height: 100dvh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.section-experience {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

.article-experience {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 20px;
    padding: .5%;
    width: 80%;
}

.experience-svg {
    width: 16%;
    min-width: 200px;
    padding: 2.5%;
}

.experience-group-container {
    display: flex;
    flex-direction: column;
    padding: 2.5%;
    flex-basis: fit-content;
}

.experience-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    line-height: 20px;
}

.experience-container-tool {
    gap: 10px;
    display: flex;
    flex-direction: row;
}

.container-tool-name {
    padding: 10px;
    font-size: 14px;
    border-radius: 20px;
    max-width: fit-content;
}

/* Orientación Vertical */
@media screen and (max-width: 1000px) {
    .header-experience {
        height: 100%;
    }

    .experience-svg {
        min-width: 150px;
    }
}

@media screen and (orientation: portrait) and (max-width: 830px) {
    .header-experience {
        height: 100vh;
        height: 100dvh;
    }

    .container-tool-name {
        padding: 6px;
    }

    .experience-group-container {
        align-items: center;
    }

    .experience-container {
        align-items: center;
    }

    .experience-container > span, p {
        text-align: center;
    }

    .experience-group-container > h3 {
        text-align: center;
    }
}

@media screen and (max-width: 740px) {
    .article-experience {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .experience-svg {
        display: none;
    }

    .experience-group-container {
        align-items: center;
    }

    .experience-container {
        align-items: center;
    }

    .experience-container > span, p {
        text-align: center;
    }

    .experience-group-container > h3 {
        text-align: center;
    }
}

@media screen and (max-width: 325px) {
    .header-experience {
        height: 100%;
    }

    .experience-container-tool {
        flex-direction: column;
        align-items: center;
    }
}