:root {
    --custom-footer-color-black: #000;
}

footer {
    height: 50px;
    background-color: var(--custom-footer-color-black);
}



@media screen and (orientation: portrait) and (max-width: 320px) {
    footer {
        display: none;
    }
}

@media screen and (orientation: portrait) and (min-width: 330px) and (max-width: 360px) {
    footer {
        display: none;
    }
}

@media screen and (orientation: portrait) and (min-width: 361px) {
    footer {
        display: none;
    }
}