:root {
    --custom-footer-color-black: #000;
}

footer {
    height: 50px;
    background-color: var(--custom-footer-color-black);
}

@media screen and (max-width: 960px) {
    footer {
        background-color: var(--custom-footer-color-black);
        height: 100px;
    }
}