:root {
    --custom-footer-color-black: #000;
}

footer {
    height: 50px;
    background-color: var(--custom-footer-color-black);
}


@media screen and (orientation: portrait) and (max-width: 360px) {
    footer {
        background-color: var(--custom-footer-color-black);
        height: 820px;
    }
}

@media screen and (orientation: portrait) and (min-width: 361px) {
    footer {
        background-color: var(--custom-footer-color-black);
        height: 820px;
    }
}