:root {
    --custom-header-color-black: #000;
    --custom-header-color-gray: #4b5563;
    --custom-header-color-white: #fff;
    --custom-header-color-transparent: transparent;
}

.main-section-header {
    position: relative;
    display: flex;
    justify-content: center;
    top: 120px;
    bottom: 220px;
    width: 100%;
    max-height: 445px;
}

.main-section-header__article {
    display: grid;
    justify-content: center; 
    min-width: 425px;   
    max-height: 294px;
}

.main-section-header__article__img {
    width: 250px; 
    border-radius: 900px;
    border: 2px solid var(--custom-header-color-black);
}

.main-section-header__article__personal__information {
    display: flex;
    flex-direction: column; 
    line-height: 5px;
    text-align: center;
}

.main-section-header__article__personal__information > h1, h2, h3 {
    color: var(--custom-header-color-gray);
}

.main-section-header__article--badge {
    display: flex;
    justify-content: center;
}

.main-section-header__article__div {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-top: 7%;
}

.main-section-header__article__div--button {
    color: var(--custom-header-color-white); 
    background-color: var(--custom-header-color-black);
    border: 1px solid var(--custom-header-color-black);
    border-radius: 50px;
    width: 200px;
    height: 50px;
}

.main-section-header__article__div--span {
    font-size: 15px;
}

.main-section-header__article__div--button-svg {
    border: 0;
    background-color: var(--custom-header-color-transparent);
}

.main-section-header__article__div--svg {
    width: 30px;
}