.header-home {
    height: 100vh;
    height: 100dvh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.section-header {
    display: flex; 
    justify-content: center;
    align-items: center;
    gap: 1%;
    height: 100%;
}

.header-img {
    width: 17%;
    min-width: 235px;
    border-radius: 999px;
    filter: grayscale(100%);
    transition: filter 0.5s ease;
}

.header-img:hover {
    filter: grayscale(0%);
}

.article-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 10px;
}

.container-social-media {
    display: flex;
    gap: 30px;
    align-items: center;
}

.social-media-svg {
    width: 36px;
}

/* Orientación Vertical */
@media screen and (orientation: portrait) and (max-width: 1045px) {
    .section-header {
        flex-direction: column;
    }

    .container-social-media {
        margin-top: 5%;
        margin-bottom: 5%;
    }
}

@media screen and (orientation: portrait) and (max-width: 768px) {
    .article-banner > h1 { font-size: 30px !important; }
    .article-banner > h2 { font-size: 20px !important; }
    .article-banner > h3 { font-size: 16px !important; }
}

@media screen and (orientation: portrait) and (max-width: 650px) {
    .header-img {
        filter: grayscale(0);
    }
}

@media screen and (orientation: portrait) and (max-width: 500px) {
    .article-banner > h1 { font-size: 25px !important; }
    .article-banner > h2 { font-size: 15px !important; }
    .article-banner > h3 { font-size: 15px !important; }
}

@media screen and (orientation: portrait) and (max-width: 375px) {
    .header-img {
        min-width: 200px;
    }

    .article-banner > h1 { text-align: center; line-height: 25px !important; }
    .article-banner > h2 { text-align: center; line-height: 5px  !important; }
    .article-banner > h3 { text-align: center; line-height: 5px  !important; }
    .article-banner > h4 { text-align: center; line-height: 5px  !important; }
}

/* Orientación Horizontal */
@media screen and (orientation: landscape) and (max-width: 740px) {
    .article-banner > h1 { font-size: 20px !important; }
    .article-banner > h2 { font-size: 15px !important; }
    .article-banner > h3 { font-size: 15px !important; }
}

@media screen and (orientation: landscape) and (max-width: 570px) {
    .article-banner > h1 { font-size: 20px !important; }
    .article-banner > h2 { font-size: 15px !important; }
    .article-banner > h3 { font-size: 15px !important; }
}

@media screen and (orientation: landscape) and (max-width: 490px) {
    .article-banner > h1 { font-size: 18px !important; }
    .article-banner > h2 { font-size: 13px !important; }
    .article-banner > h3 { font-size: 13px !important; }

    .header-img {
        min-width: 200px;
    }
}