nav {
    position: fixed;
    width: 8%;
    height: 100vh;
    height: 100dvh;
    display: flex;
}

ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    list-style-type: none;
    align-items: center;
    gap: 50px;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
}

li {
    min-height: 50px;
    display: flex;
    text-align: center;
    align-items: center;
    width: fit-content;
    transform: rotate(270deg);
}

.nav-option-href {
    min-width: 90px;
}

/* Página Activa */
.nav-li-active {
    transform: rotate(360deg);
    text-decoration: line-through;
    transition: transform 0.3s ease-in-out;
}

/* Páginas inactivas */
.nav-li-inactive {
    transform: rotate(270deg);
    text-decoration: none;
    transition: transform 0.3s ease-in-out;
}

.nav-li-svg {
    display: flex;
    flex-direction: column; 
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    transform: rotate(0);
}

.svg {
    width: 36px;
    height: 36px;
}

.li-selected {
    position: relative;
    top: 5%;
    text-align: center;
    transform: rotate(0);
    justify-content: center;
}

@media screen and (max-width: 1024px) {
    nav {
        width: 12%;
    }
}

@media screen and (max-width: 1100px) {
    nav {
        display: none;
    }
}
/* 
@media screen and (orientation: landscape) and (max-width: 650px) {
    nav {
        display: none;
    }
} */