.header-skill {
    height: 100vh;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-skill {
    display: flex;
    flex-direction: column;
    gap: 50px;
    height: 100%;
    width: 80%;
    justify-content: center;
}

.container-group {
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
}

.container-group:last-of-type {
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
    margin-bottom: 5%;
}

.group-language {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    min-width: 350px;
    gap: 10px;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 0px var(--shadow-dark-mode-color);
}

.title-align {
    text-align: center;
}

.width-field-backend {
    width: 115px;
}

.width-field-frontend {
    width: 150px;
}

.width-field-database {
    width: 133px;
}

.width-field-NoSQL {
    width: 115px;
}

.container-NoSQL:first-of-type {
    margin-bottom: 30px;
}

.container-backend {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 200px;
}

.container-frontend {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 230px;
}

.container-database {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 205px;
}

.container-NoSQL {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 180px;
}

/* Orientación Vertical */
@media screen and (max-width: 1024px) {
    .header-skill > h1 { font-size: 25px !important; }
    .header-skill > h2 { font-size: 20px !important; }
    .header-skill > h3 { font-size: 20px !important; }

    .header-skill {
        height: 100%;
    }
    
    .section-skill {
        height: 100%;
    }

    .container-group {
        flex-direction: column !important;
    }

    .group-language {
        width: 100%;
        min-width: auto;
    }
    
    .container-backend:last-of-type,
    .container-frontend:last-of-type,
    .container-database:last-of-type,
    .container-NoSQL:last-of-type {
        margin-bottom: 1%;
    }
}
/* 
@media screen and (max-width: 500px) {
    .section-skill {
        margin-top: 5%;
    }
} */