:root {
    --custom-skill-color-gray: #4b5563;
    --custom-skill-color-white: #fff;
    --custom-skill-color-black: #000;
}

.main-section-skill {
    position: relative;
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    height: 560px;
}

.main-section-skill__container__titulo {
    display: flex;
    justify-content: start;
    margin-left: 10%;
    align-items: baseline;
}

.main-section-skill__titulo {
    text-align: center;
    color: var(--custom-skill-color-gray);
}

.main-section-skill__container__columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
}

.main-section-skill__container_column_1, .main-section-skill__container_column_2, .main-section-skill__container_column_3 {
    display: grid; 
    justify-content: center;
}

.main-section-skill__container__columns__logo {
    background-color: var(--custom-skill-color-white);
    position: relative;
    top: 25px;
    left: 100px;
    border: 1px solid var(--custom-skill-color-black);
    width: 50px;
    height: 50px;
    border-radius: 100px;
}

.main-section-skill__container__columns__logo__svg {
    position: relative;
    top:10px;
    left: 10px;
    width: 30px;
}

.main-section-skill__container__columns__skill {
    height: 355px;
    border-radius: 15px;
    border: 1px solid var(--custom-skill-color-black);
    padding: 10px;
    text-align: center;
    width: 240px;
}

.main-section-skill__container__columns__skill__titulo {
    padding-top: 9px;
    line-height: 1px;
}

.main-section-skill__container__columns__skill__titulo__div__frontend-h4,
.main-section-skill__container__columns__skill__titulo__div__backend-h4,
.main-section-skill__container__columns__skill__titulo__div__database-h4 {
    color: var(--custom-skill-color-gray);   
}

.main-section-skill__container__columns__skill__frontend {
    padding-top: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
}

.main-section-skill__container__columns__skill__content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main-section-skill__container__columns__skill__content__svg {
    padding-left: 5%;
}

.main-section-skill__container__columns__skill__content__detalle {
    padding-left: 15%;
    display: flex;
    flex-direction: column;
}

.main-section-skill__container__columns__skill__content__detalle_span {
    color: var(--custom-skill-color-gray);
}

.main-section-skill__container__columns__skill__backend {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.main-section-skill__container__columns__skill__content_backend {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.main-section-skill__container__columns__skill__content__backend__element {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main-section-skill__container__columns__skill__content__backend__svg {
    padding-left: 5%;
}

.main-section-skill__container__columns__skill__content__detalle_backend {
    padding-left: 15%;
    display: flex;
    flex-direction: column;
}

.main-section-skill__container__columns__skill__database {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    gap: 58px;
}

.main-section-skill__container__columns__skill__content_database {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media screen and (max-width: 1280px) {
    .main-section-skill {
        height: 470px;
    }
}

@media screen and (min-width: 1440px) {
    .main-section-skill__container__columns {
        flex-direction: column;
    }

    .main-section-skill__container__columns__logo {
        top: 80px;
        left: -25px;
    }

    .main-section-skill__container__columns__skill {
        width: 1000px;
        height: 100px;
    }

    /* Título Frontend */
    .main-section-skill__container__columns__skill__titulo__div_frontend {
        position: relative;
        top: -60px;
        left: 40px;
        font-size: 22px;
    }

    .main-section-skill__container__columns__skill__titulo__div__backend-h4  {
        position: relative;
        top: -60px;
        left: 35px;
        font-size: 22px;
    }

    .main-section-skill__container__columns__skill__titulo__div_database {
        position: relative;
        top: -55px;
        left: 34px;
        font-size: 22px;
    }

    /* Título Frontend */
    .main-section-skill__container__columns__skill__titulo__div_frontend > h4 {
        background-color: white;
        line-height: 40px;
        width: 125px;
        height: 40px;
    }

    /* Título Backend */
    .main-section-skill__container__columns__skill > h4 {
        background-color: white;
        line-height: 40px;
        width: 125px;
        height: 40px;
    }

    /* Título Database */
    .main-section-skill__container__columns__skill__titulo__div__database-h4 {
        background-color: white;
        width: 200px;
        height: 40px;
    }

    .main-section-skill__container__columns__skill__backend {
        flex-direction: row;
        position: relative;
        top: -80px;
    }

    .main-section-skill__container__columns__skill__content__svg,
    .main-section-skill__container__columns__skill__content__backend__svg,
    .main-section-skill__container__columns__skill__content__svg {
        width: 100px;
    }   

    .main-section-skill__container__columns__skill__frontend {
        padding-top: 0;
        position: relative;
        bottom: 80px;
        flex-direction: row;
        gap: 50px;
        align-items: flex-start;
    }

    .main-section-skill__container__columns__skill__database {
        position: relative;
        gap: 140px;
        flex-direction: row;
        bottom: 80px;
    }
}

/* Orientación Portrait (Vertical) */
@media screen and (orientation: portrait) and (max-width: 320px) { 
    .main-section-skill__container__titulo {
        width: 300px;
        text-wrap: pretty;
        
    }
}

@media screen and (orientation: portrait) and (max-width: 360px) {
    .main-section-skill__container__columns {
        flex-direction: column;
    }

    .main-section-skill__container__titulo {
        justify-content: center;
        margin-left: 0;
        margin-top: 10%;
    }
}

@media screen and (orientation: portrait) and (min-width: 361px) {
    .main-section-skill__container__columns {
        flex-direction: column;
    }

    .main-section-skill__container__titulo {
        justify-content: center;
        margin-left: 0;
    }
}

/* Orientación Landscape (Horizontal) */
@media screen and (orientation: landscape) and (max-width: 870px) {
    .main-section-skill__container__titulo {
        justify-content: center;
        margin-left: 0;
    }

    .main-section-skill__container__columns {
        flex-direction: column;
    }

    .main-section-skill__container__columns__logo {
        top: 80px;
        left: -25px;
    }

    .main-section-skill__container__columns__skill {
        width: 720px;
        height: 100px;
    }

    .main-section-skill__container__columns__skill__titulo__div_frontend {
        position: relative;
        top: -60px;
        left: 250px;
        width: fit-content;
        font-size: 22px;
    }

    .main-section-skill__container__columns__skill__titulo__div_frontend > h4 {
        background-color: white;
        line-height: 40px;
        width: 125px;
        height: 40px;
    }

    .main-section-skill__container__columns__skill__frontend {
        position: relative;
        top: -100px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 15px;
    }

    .main-section-skill__container__columns__skill__content__svg {
        width: 50px;
        padding-left: 0;
    }

    .main-section-skill__container__columns__skill__content__detalle {
        padding-left: 5%;
    }

    /* Backend Skill */
    .main-section-skill__container__columns__skill__titulo__div__backend-h4  {
        position: relative;
        top: -60px;
        left: 250px;
        font-size: 22px;
    }
    
    .main-section-skill__container__columns__skill > h4 {
        background-color: white;
        line-height: 40px;
        width: 125px;
        height: 40px;
    }

    .main-section-skill__container__columns__skill__backend {
        position: relative;
        right: 10px;
        top: -80px;
        flex-direction: row;
        gap: 0;
        text-wrap: balance;
    }

    .main-section-skill__container__columns__skill__content__backend__svg {
        width: 100px;
        padding-left: 20%;
    }

    .main-section-skill__container__columns__skill__content__detalle_backend {
        padding-left: 0;
    }

    .main-section-skill__container__columns__skill__titulo__div_database {
        position: relative;
        top: -55px;
        left: 250px;
        font-size: 22px;
        width: fit-content;
    } 
    
    .main-section-skill__container__columns__skill__titulo__div__database-h4 {
        background-color: white;
        width: 200px;
        height: 40px;
    }

    .main-section-skill__container__columns__skill__database {
        position: relative;
        top: -85px;
        display: flex; 
        flex-direction: row;
        justify-content: center;
        gap: 100px;
        text-wrap: nowrap;
    }
}

@media screen and (orientation: landscape) and (min-width: 871px) and (max-width: 920px) {
    .main-section-skill__container__titulo {
        justify-content: center;
        margin-left: 0;
    }

    .main-section-skill__container__columns {
        flex-direction: column;
    }

    .main-section-skill__container__columns__logo {
        top: 80px;
        left: -25px;
    }

    .main-section-skill__container__columns__skill {
        width: 720px;
        height: 100px;
    }

    .main-section-skill__container__columns__skill__titulo__div_frontend {
        position: relative;
        top: -60px;
        left: 250px;
        width: fit-content;
        font-size: 22px;
    }

    .main-section-skill__container__columns__skill__titulo__div_frontend > h4 {
        background-color: white;
        line-height: 40px;
        width: 125px;
        height: 40px;
    }

    .main-section-skill__container__columns__skill__frontend {
        position: relative;
        top: -105px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 15px;
    }

    .main-section-skill__container__columns__skill__content__svg {
        width: 50px;
        padding-left: 0;
    }

    .main-section-skill__container__columns__skill__content__detalle {
        padding-left: 5%;
    }

    /* Backend Skill */
    .main-section-skill__container__columns__skill__titulo__div__backend-h4  {
        position: relative;
        top: -60px;
        left: 250px;
        font-size: 22px;
    }
    
    .main-section-skill__container__columns__skill > h4 {
        background-color: white;
        line-height: 40px;
        width: 125px;
        height: 40px;
    }

    .main-section-skill__container__columns__skill__backend {
        position: relative;
        right: 10px;
        top: -80px;
        flex-direction: row;
        gap: 0;
        text-wrap: balance;
    }

    .main-section-skill__container__columns__skill__content__backend__svg {
        width: 100px;
        padding-left: 20%;
    }

    .main-section-skill__container__columns__skill__content__detalle_backend {
        padding-left: 0;
    }

    .main-section-skill__container__columns__skill__titulo__div_database {
        position: relative;
        top: -55px;
        left: 250px;
        font-size: 22px;
        width: fit-content;
    } 
    
    .main-section-skill__container__columns__skill__titulo__div__database-h4 {
        background-color: white;
        width: 200px;
        height: 40px;
    }

    .main-section-skill__container__columns__skill__database {
        position: relative;
        top: -75px;
        display: flex; 
        flex-direction: row;
        justify-content: center;
        gap: 100px;
        text-wrap: nowrap;
    }
}